@model ModuloNotificaciones.Entities.Producto

@{
    ViewData["Title"] = "Borrar";
}



<h3>Esta seguro que desea borrar este Producto?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nombre) Del Producto
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Usuario.UsuarioId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductoId" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la Lista</a>
    </form>
</div>
